@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,300;0,400;0,600;1,100;1,200;1,300;1,600;1,900&family=Raleway:wght@700&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

body{
    height: 100vh;
    background: linear-gradient(to bottom left,orange, rgb(164, 131, 69));
    display: grid;
    place-items:center ;
}
.high-score{
    color: brown;
    font-size: 23px;
}
.timer,.score{
    color:#fff;
    font-size: 40px;
}
.red{
    color:brown
}
.box{
    height: 60vh;
    width: 60vh;
    max-height: 100vh;
    max-width: 80vh;

}

.btnClick{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: antiquewhite;
    color:rgb(164, 131, 69);
    border: 1px solid white;
    transition: all 0.4s;
}
.btnClick:hover{
    background: transparent;
    border: 1px solid white;
    color: white

}

table{
    height: 100%;
    width: 100%;
    background: #fff;
}
table td{
    border: 1px solid white;
}
